@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --color-primario: #052051;
    --color-secundario: #E9ECF8;
    --color-terciario: #FFFFFF;
    --color-hover: #0A3871;
    --fuente: "Inter", sans-serif;
}  

.cabecera{
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: var(--color-secundario);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-secundario);
    font-family: var(--fuente);
    height: 100vh;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
}

section{
    width: 25%;
    height: 85vh;
}

textarea{
    margin: auto;
    font-size: 1.6rem;
    color: var(--color-primario);
    width: 100%;
    height: 100%;
    border-radius: 32px;
    overflow: auto;
    text-align: center;
    border: none;
    resize: none;
    text-transform: lowercase;
    padding-top: 30px;
}

textarea:focus{
    outline: none;
    border: none;
}

.contenedor__encriptar{
    display: flex;
    flex-direction: column;
}

.contenedor__encriptar__mensaje{
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap: 25px;
    font-size: 0.8rem;
}

.contenedor__texto__encriptar::placeholder{
    color: var(--color-primario);
    font-family: var(--fuente);
    font-size: 1.2rem;
}

.contenedor__encriptar__signo{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

button{
    background-color: var(--color-primario);
    color: var(--color-terciario);
    border-radius: 20PX;
    width: 40%;
    height: 50px;
    font-size: 0.8rem;
    text-align: center; 
    
}

button:hover{
    background-color: var(--color-hover);
}

.contenedor__encriptar__botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.contenedor__encriptar__limpiar{
    width: 30px;
    height: 30px;
}





.contenedor__desencriptar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-terciario);
    border-radius: 32px;
    position: relative;
}


.contenedor__desencriptar__letras{
    position: absolute;
    font-size: 1.3rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.contenedor__desencriptar__imagen{
    width: 100%;
    margin-bottom: 5%;
}


.contenedor__desencriptar__botones{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0px 7px 0px;
    visibility: hidden;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--color-primario);
    font-size: 0.8rem;
    color: var(--color-primario);
    width: 100%;
}


/* MEDIAS QUERYES*/

@media screen and (max-width: 1300px) {
    
    .contenedor{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    
    section{
        width: 80%;
        height: 40vh;
    }

    .contenedor__desencriptar__letras{
        position: absolute;
        font-size: 1rem;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 90%;
    }
    .contenedor__desencriptar__imagen{
       
        width: 40%;
        height: 40%;
    }


}