.switchBtn {
    position: relative;
    right: 20px;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.switchBtn input {
    display:none;
}

.slide {
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8.4px;
    
}
.slide:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 34px;
    bottom: 7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #474E68;
    padding-left: 40px;
}

input:checked + .slide:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    left: -20px;
}

/* REDONDEADO DEL SWITCH*/
.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}

